.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse; /* Предотвращает двойные границы */
}

/* Обертка для скролла по x и y */
.table_container {
    max-width: 750px;
    max-height: 500px;
    margin: 0 auto;
    overflow: auto;
}

.table-body {
    display: block;
    height: 200px;
    overflow: auto;
}

.table-head,
.table-row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-cell {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding: 12px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000;
}

.table-head-cell {
    font-weight: 700;
    opacity: 0.8;
}

.table-head-cell.active {
    opacity: 1;
}

.table-head-cell.sortable {
    cursor: pointer;
}

.table-head-cell.sortable:hover .arrow-button {
    opacity: 0.5;
}

.table-head-cell.active .arrow-button {
    opacity: 1;
}

.table-head-cell.active.asc .arrow-button {
    transform: rotate(180deg);
}
